/* body {
  font-family: "Lato", sans-serif;
} */

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.imgcentersize {
  width: 100%;
  height: 200px;
  position: center;
}

.centertextheader {
  color: black;
  font-size: 50px;
  font-weight: bold;
}
/* Centered text */
.centered {
  padding-top: 5vh;
  position: relative;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  text-align: center-left;
  font-size: medium;
  font-stretch: expanded;
  text-shadow: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.maintext {
  font-size: 16px;
}
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

iframe.layout {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}
table {
  border-collapse: collapse;
  page-break-after: always;
}
.gridlines td {
  border: 1px dotted black;
}
.gridlines th {
  border: 1px dotted black;
}
.b {
  text-align: center;
}
.e {
  text-align: center;
}
.f {
  text-align: right;
}
.inlineStr {
  text-align: left;
}
.n {
  text-align: right;
}
.s {
  text-align: left;
}
td.style0 {
  vertical-align: bottom;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: none #000000;
  border-right: none #000000;
  color: #000000;
  font-family: "Calibri";
  font-size: 11pt;
  background-color: white;
}
th.style0 {
  vertical-align: bottom;
  border-bottom: none #000000;
  border-top: none #000000;
  border-left: none #000000;
  border-right: none #000000;
  color: #000000;
  font-family: "Calibri";
  font-size: 11pt;
  background-color: white;
}
td.style1 {
  vertical-align: bottom;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Calibri";
  font-size: 11pt;
  background-color: white;
}
th.style1 {
  vertical-align: bottom;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Calibri";
  font-size: 11pt;
  background-color: white;
}
td.style2 {
  vertical-align: bottom;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Calibri";
  font-size: 11pt;
  background-color: white;
}
th.style2 {
  vertical-align: bottom;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Calibri";
  font-size: 11pt;
  background-color: white;
}
td.style3 {
  vertical-align: bottom;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Calibri";
  font-size: 11pt;
  background-color: white;
}
th.style3 {
  vertical-align: bottom;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Calibri";
  font-size: 11pt;
  background-color: white;
}
td.style4 {
  vertical-align: bottom;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Calibri";
  font-size: 11pt;
  background-color: white;
}
th.style4 {
  vertical-align: bottom;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Calibri";
  font-size: 11pt;
  background-color: white;
}
td.style5 {
  vertical-align: bottom;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Calibri";
  font-size: 11pt;
  background-color: white;
}
th.style5 {
  vertical-align: bottom;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Calibri";
  font-size: 11pt;
  background-color: white;
}
td.style6 {
  vertical-align: bottom;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Calibri";
  font-size: 11pt;
  background-color: white;
}
th.style6 {
  vertical-align: bottom;
  text-align: center;
  border-bottom: 1px solid #000000 !important;
  border-top: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
  color: #000000;
  font-family: "Calibri";
  font-size: 11pt;
  background-color: white;
}
table.sheet0 col.col0 {
  width: 42pt;
}
table.sheet0 col.col1 {
  width: 42pt;
}
table.sheet0 col.col2 {
  width: 42pt;
}
table.sheet0 col.col3 {
  width: 106.41110989pt;
}
table.sheet0 col.col4 {
  width: 73.19999916pt;
}
table.sheet0 tr {
  height: 15pt;
}
table.sheet0 tr.row0 {
  height: 29.5pt;
}
